Makefile.global
acinclude.m4
aclocal.m4
autom4te.cache
build
config.guess
config.h.in
config.sub
configure
configure.in
install-sh
ltmain.sh
missing
mkinstalldirs
run-tests.php
.deps
Makefile
Makefile.fragments
Makefile.objects
config.h
config.log
config.nice
config.status
libtool
.idea
CMakeLists.txt
.libs
/*~
configure.ac
php_test_*
imap.la
modules/
php_imap.dep
php_imap.lo
imap*tgz
